# Build artifacts
**/bin/
**/*.exe
**/*.o
**/*.obj
**/*.log

# MSYS2 / mingw
/mingw*

# freeglut downloaded archives and extracted folders
/freeglut/
*.zip

# Visual Studio
.vs/

# OS files
Thumbs.db
*.DS_Store
